<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('common_head.ejs') %>
  <title>Detail</title>  
</head>

<body>
  <%- include('nav.ejs') %>
    <div class="container mt-3">
      <img class="img-fluid" src="/public/todo.png" alt="todo" />
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="block-level">
            <%= data[0].title %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= data[0].date %>
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= data[0]._id %>
          </h6>          

          <form action="/edit/<%=data[0]._id%>" method="GET">
            <button>Edit</button>
          </form>
        </div>
      </div>
    </div>

  <%- include('common_javascript.ejs') %>  
</body>

</html>