<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('common_head.ejs') %>
  <title>Edit</title>  
</head>

<body>
  <%- include('nav.ejs') %>
    <h4 class="container mt-4"><strong>Edit Page</strong></h4>

    <div class="container mt-3">
      <form action="/edit?_method=PUT" method="POST">
        <input value="<%= data[0]._id %>" name="_id" style="display : none">
        <div class="form-group">
          <label>Update: What to do today</label>
          <input type="text" class="form-control" name="title" value=<%=data[0].title %> />
        </div>
        <div class="form-group">
          <label>Update: Date</label>
          <input type="text" class="form-control" name="date" value=<%=data[0].date %> />
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>

  <%- include('common_javascript.ejs') %>  
</body>

</html>