<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('common_head.ejs') %>
  <title>List</title>  
</head>

<body>
  <%- include('nav.ejs') %>

    <ul class="list-group">
      <% for (var i=0; i < posts.length; i++){ %>
        <li class="list-group-item">
          <h4> Title : <%= posts[i].title %>
          </h4>
          <p> Date : <%= posts[i].date %>
          </p>
          <button class="delete" data-id="<%= posts[i]._id %>">Delete</button>
        </li>
        <% } %>
    </ul>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $('.delete').click(function (e) {
        $.ajax({
          method: 'DELETE',
          url: '/delete',
          // dataset.id is from: data-id= posts[i]._id 
          data: { _id: e.target.dataset.id }
        }).done((res) => {  // we need this form to use $this 
          $(this).parent('li').fadeOut();
          console.log('killed')
        }).fail((xhr, code, err) => {
          // failure
        });
      });
    </script>

  <%- include('common_javascript.ejs') %>
</body>

</html>